div#homepage-img {
    text-align: center;
    /* margin-top: 5rem */
}

div#homepage {
    display:table
}

div#homepage-content {
    display: table-cell;
    vertical-align: middle
}

div#navbar {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    display: table
}