hr {
    border: none;
    border-top: 5px single whitesmoke;
    color: whitesmoke;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: 'æ';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

hr::before {
    width: 37rem;
    border-top: 5px solid whitesmoke;
    height: 5px;
    margin-top: -2.5px;
}