hr {
    border: none;
    border-top: 3px single whitesmoke;
    color: whitesmoke;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: 'æ';
    padding: 0 4px;
    position: relative;
    top: -13px;
}