hr#homepage-hr {
    border: none;
    width: 37rem;
    border-top: 5px solid whitesmoke;
    color: whitesmoke;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}