* {
    color: whitesmoke;
    max-width: 960px;
    margin: auto
}

h1 {
    font-family: 'Exo 2';
    font-weight: 550;
}

p {
    font-family: Oxygen;
    font-weight: 400;
}

html {
    background-color:#262626;
    text-align: center
}

.homepage {
    max-height: 50%;
    margin: auto
}